/* Style global de la pop-up */
.detailCovoiturage {
    background-color: var(--color-white);
    border: 2px solid var(--color-primary) !important;
    border-radius: var(--radius-medium) !important;
    padding: var(--spacing-lg);
    filter: drop-shadow(var(--shadow-medium));
}

/* Badge Écologique (MCD: Voiture.energie) */
.badge-eco {
    background-color: var(--color-secondary); /* Ton vert menthe */
    color: var(--color-primary);
    padding: 2px 8px;
    border-radius: var(--radius-small);
    font-weight: 600;
    font-size: 0.8rem;
}

/* Photo de profil (US 5) */
.photo-profil {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--color-secondary);
}

/* Le bouton de réservation façon EcoRide */
.btn-reservation-modal {
    width: 100%;
    height: 3.5rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: var(--radius-medium);
    font-weight: bold;
    font-size: var(--font-size-large);
    filter: drop-shadow(var(--shadow-small));
    transition: all 0.3s ease;
}

.btn-reservation-modal:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    transform: translateY(-2px);
}

/* Alignement du trajet dans la pop-up */
.recap {
    border: 1px solid #eee;
    background-color: var(--color-background);
    border-radius: var(--radius-small);
    padding: 15px;
}

